#########################################
# {{ rthar_dns_zone_fwd_name }}
#########################################
zone "{{ rthar_dns_zone_fwd_name }}" IN {
type master;
file "domains/{{ rthar_dns_zone_fwd_name }}.db";
allow-update { none; };
};

{% if rthar_dns_zone_rev_name %}
zone "{{ rthar_dns_zone_rev_name }}." IN {
type master;
file "domains/{{ rthar_dns_zone_rev_name }}.db";
allow-update { none; };
};
{% endif %}
