$TTL {{ rthar_dns_zone_config.minttl }}
@    IN   SOA   {{ rthar_dns_zone_config.fwd_name }} {{ rthar_dns_zone_config.fwd_name }}. (
{{ rthar_dns_zone_config.serial }} ;Serial
{{ rthar_dns_zone_config.refresh }}       ;Refresh
{{ rthar_dns_zone_config.retry }}       ;Retry
{{ rthar_dns_zone_config.expire }}     ;Expire
{{ rthar_dns_zone_config.minttl }}      ;Minimum TTL
)

;Name Server Information
@   IN NS  {{ rthar_dns_zone_config.nameserver }}.

{% if rthar_dns_zone_config.entries %}
{% for host in rthar_dns_zone_config.entries %}
{{ host.name.split('.')[0] }} IN A {{ host.ip }}
{% endfor %}
{% endif %}
