lang en_US
keyboard sg
timezone Europe/Zurich --isUtc
rootpw $1$25jLdfsA$lMn.PvcmDWjFjDXFzWCo6. --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
text
url --url=http://infra.example.com/os/centos7
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel

part /boot --recommended
part pv.1 --fstype=lvmpv --ondisk=sda --size=1 --grow

volgroup vg00 --pesize=4096 pv.1
logvol / --vgname=vg00 --name=lvroot --fstype=xfs --size=8192 --grow --maxsize=1
logvol /var --vgname=vg00 --name=lvvar --fstype=xfs --size=4096
logvol /var/log --vgname=vg00 --name=lvvarlog --fstype=xfs --size=2048
logvol /tmp --vgname=vg00 --name=lvtemp --fstype=xfs --size=1024
logvol /home --vgname=vg00 --name=lvhome --fstype=xfs --size=2048
logvol swap --vgname=vg00 --name=lvswap --fstype=swap --recommended

network --onboot yes --device ens33 --noipv6 --hostname server.example.com

auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --enabled --ssh
skipx
firstboot --disable

%pre --interpreter=/bin/bash
echo "Start"
%end

%post --interpreter=/bin/bash
echo "Updating Packages"
yum -y update
%end

%packages
@base
%end
