#DHCP configuration for PXE boot server
ddns-update-style interim;
ignore client-updates;
authoritative;
allow booting;
allow bootp;
allow unknown-clients;

subnet {{ pxesrv_network | ipaddr('network') }}
netmask {{ pxesrv_network | ipaddr('netmask') }}
{
range {{ pxesrv_ip_range_start }} {{ pxesrv_ip_range_end }};
option domain-name-servers {{ pxesrv_dns_ip }};
option domain-name "{{ pxesrv_domain_name }}";
option routers {{ pxesrv_gw_ip }};
option broadcast-address {{ pxesrv_network | ipaddr('broadcast') }};
default-lease-time 600;
max-lease-time 7200;

#PXE boot server
next-server {{ pxesrv_srv_ip }};
filename "pxelinux.0";
}

{% if pxesrv_reservations_file %}
include "{{ pxesrv_reservations_file }}";
{% endif %}
