default menu.c32
prompt 0
timeout 30
menu title PXE Menu

{% for item in pxesrv_images %}
label {{ item.label }}
KERNEL {{ item.kernel }}
APPEND {{ item.append }}
{% endfor %}


LABEL Boot from local drive
#  localboot 0
KERNEL chain.c32
APPEND hd0 0
